<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/goodList.css' />
  </head>
  <body>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <div class="top">
      <div class="top0">
       <span style="display: block;float:left;margin-top:8px;margin-left: 5%;font-size: 25px;">
         EYE&EAR管理平台
       </span>
       <a style="display: block;float:right;color:#ff5722;margin-top:10px;margin-right:3%;font-size: 22px;">退出</a>
       <a style="display:block;float:right;width:30px;height:30px;background:url(./images/1.png);background-size:100% 100%;margin-top:12px;margin-right:2%;"></a>
      </div> 
    </div>
    <div class="content">
      <div class="content0">
        <div class="contentLeft">
          <ul>
            <li>统计</li>
            <li>
              <a>
                用户分析
              </a>
            </li>
            <li>
              <a>
                订单分析
              </a>
            </li>
          </ul>
          <ul>
            <li>管理</li>
            <li>
              <a>
                用户管理
              </a>
            </li>
            <li>
              <a>
                商品管理
              </a>
            </li>
            <li>
              <a>
                订单管理
              </a>
            </li>
          </ul>
          <ul>
            <li>设置</li>
            <li>
              <a>
                平台信息
              </a>
            </li>
            <li>
              <a>
                账户权限
              </a>
            </li>
          </ul>
        </div>
        <div class="contentRight">
          <div class="right2">
            <div class="right21">
              <p style="font-size: 18px;margin:15px 15px;">搜索条件：</p>
            </div>
            <div class="right22">
              <input type="text" placeholder="  请输入商品名称"/>
              <input type="text" placeholder="  请选择销售时间"/>
              <button class="rightb">确定</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
